* {
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.firstContent {
    padding-top: 30px;
    /* background-image: url(img/hero-bg.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}

.navbar {
    background-color: #221F1F;
    justify-content: space-around;
}

.navbar ul li a {
    margin-left: 30px;
    font-size: 20px;
    color: #fff;
}

.ahsection {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #221F1F;
}

.ahsection a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.ahsection span {
    color: gray;
}

.ahsection h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
}


.secondContent {

    padding-top: 100px;
    background-color: #221F1F;
}

.contentTwo {
    display: flex;
    margin-left: 200px;
}

.contentTwo .secondText {
    margin-left: 50px;
}

.secondText {
    margin-top: 40px;
}

.secondText h6 {
    color: yellow;
}

.secondText h1 {
    margin: 30px 0px;
    color: #fff;
    font-size: 45px;
}

.secondText p {
    margin: 25px 0px;
    color: #fff;
    width: 550px;
}

.secondText button {
    background-color: yellow;
    height: 50px;
    width: 150px;
    color: blue;
    font-size: 20px;
    font-weight: 600;
}

.servicePage {
    padding-top: 150px;
}

.servicePage h6 {
    font-weight: 800;
    color: yellow;
}

.servicePage h1 {
    margin-bottom: 50px;
    font-size: 55px;
    color: #fff;
}

.servicePage h5 {
    font-size: 25px;
    color: #fff;
}

.servicePage p {
    font-size: 15px;
    color: #fff;
    width: 250px;
}

.logos {
    color: yellow;
    padding-bottom: 75px;
    display: flex;
}

.logos h5 {
    margin: 25px 0px;
}

.servicePage .logos {
    color: yellow;
    align-items: center;
    justify-content: center;
}

.logos img {
    justify-content: center;
    align-items: center;
}

.numberContent {
    padding-bottom: 100px;
    background-color: #221F1F;
}

.numberContent .numbers {
    display: flex;
    padding-left: 675px;
}

.numbers .member {
    text-decoration: uppercase;
    color: yellow;
    font-size: 30px;
}

.numbers .branch {
    text-decoration: uppercase;
    color: yellow;
    font-size: 30px;
}

.numbers .partner {
    text-decoration: uppercase;
    color: yellow;
    font-size: 30px;
}

.numbers .design {
    text-decoration: uppercase;
    color: yellow;
    font-size: 30px;
}

.count .design {
    text-decoration: uppercase;
    font-size: 30px;
}

.count .branch {
    text-decoration: uppercase;
    font-size: 30px;
}

.count .partner {
    text-decoration: uppercase;
    font-size: 30px;
}

.numbers h1 {
    /* background-color: yellow; */
    height: 50px;
    width: 250px;
    color: yellow;
    font-size: 45px;
    font-weight: 600;
}

.numbers h5 {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

.numbers p {
    font-weight: 500;
    width: 400px;
    color: #fff;
}

/* .numberContent {
    display: flex; 
    padding-top: 120px;
    padding-left: 140px;
} */

.numberContent .numbers {
    margin-left: 150px;
}

.count {
    height: 50px;
    width: 150px;
    color: yellow;
    font-size: 40px;
    font-weight: 800;
}


.teamText {
    padding-top: 75px;
}

.teamText h6 {
    color: yellow;
    font-weight: 600;
    font-size: 18px;
}

.teamText h1 {
    color: #fff;
    font-size: 45px;
    padding-bottom: 55px;
}

.rowMember {
    display: flex;
    margin-left: 70px;
}

.bg-item {
    height: 435px;
    position: relative;
    margin-bottom: 30px;
}

.bg-item:hover .bgtext {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.bg-item .bgtext {
    opacity: 0;
    text-align: center;
    background: #191919;
    position: absolute;
    left: 20px;
    top: 23px;
    width: calc(100% - 122px);
    height: calc(100% - 46px);
    padding: 50px 20px 60px 20px;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.bg-item .bgtext {
    margin-bottom: 32px;
}

.bg-item .bgtext p {
    color: #fff;
    font-weight: 250;
}

.bg-item .bgtext .bgtitle h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.bg-item .bgtext .bgtitle span {
    color: yellow;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.bg-item .bgtext .bgsocial a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #303030;
    border-radius: 50%;
    margin-right: 3px;
    line-height: 45px;
}

.work {
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(img/work\ with\ us.jpg);
}

.work h1 {
    font-size: 55px;
    font-weight: 800;
}

.work p {
    margin: 45px 0px;
    width: 1200px;
    font-size: 20px;
    font-weight: 500;
}

.work button {
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
}

.team {
    padding-bottom: 75px;
    background-color: #221F1F;
}



.final {
    background-color: black;
}

.aboutEnd {
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 40px;
    display: flex;
}

.one {}

.one p {
    margin: 25px 0px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 220px;
}

.one a {
    color: #fff;
}

.two {
    padding-bottom: 30px;
    margin-left: 150px;
}

.two h5 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.two a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.three {
    margin-left: 150px;
}

.three h5 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.three p {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 220px;
    margin: 25px 0px;
}

.three input {
    padding-left: 60px;
    background-color: #221F1F;
    width: 250px;
    height: 50px;
    color: white;
    border-color: #fff;
    margin-bottom: 10px;
}

.three button {
    width: 253px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: yellow;
    color: blue;
}

.four {
    margin-left: 150px;
}

.four h5 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    padding-bottom: 45px;
}

.final {
    padding-bottom: 45px;
}

.final p {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}